<h3>Τεχνικές Εξόρυξης Δεδομένων
Εαρινό Εξάμηνο 2019-2020
2η Άσκηση
</h3>

In [1]:
import glob
import pandas as pd
import os
import io
import csv

In [2]:

train = 'train_set.tsv'
counter = 0
with open(train, 'wt') as out_file:
    tsv_writer = csv.writer(out_file, delimiter='\t')
    tsv_writer.writerow(['Id', 'Title','Content','Category'])
    work_dir = "fulltext/data/business"
    for path in sorted(glob.glob(os.path.join(work_dir, "*.txt"))):
        with io.open(path, mode="r", encoding="utf-8") as fd:
            title = fd.readline()
            content = ""
            line = fd.readline()
            while line:
                content += " " + line
                line = fd.readline()
            tsv_writer.writerow([counter, title ,content,"business"])
            counter += 1
    work_dir = "fulltext/data/entertainment"
    for path in sorted(glob.glob(os.path.join(work_dir, "*.txt"))):
        with io.open(path, mode="r", encoding="utf-8") as fd:
            title = fd.readline()
            content = ""
            line = fd.readline()
            while line:
                content += " " + line
                line = fd.readline()
            tsv_writer.writerow([counter, title ,content,"entertainment"])
            counter += 1
    work_dir = "fulltext/data/politics"
    for path in sorted(glob.glob(os.path.join(work_dir, "*.txt"))):
        with io.open(path, mode="r", encoding="utf-8") as fd:
            title = fd.readline()
            content = ""
            line = fd.readline()
            while line:
                content += " " + line
                line = fd.readline()
            tsv_writer.writerow([counter, title ,content,"politics"])
            counter += 1
    work_dir = "fulltext/data/tech"
    for path in sorted(glob.glob(os.path.join(work_dir, "*.txt"))):
        with io.open(path, mode="r", encoding="utf-8") as fd:
            title = fd.readline()
            content = ""
            line = fd.readline()
            while line:
                content += " " + line
                line = fd.readline()
            tsv_writer.writerow([counter, title ,content,"tech"])
            counter += 1
    work_dir = "fulltext/data/sport"
    for path in sorted(glob.glob(os.path.join(work_dir, "*.txt"))):
        with io.open(path, mode="r") as fd:
            title = fd.readline()
            content = ""
            line = fd.readline()
            while line:
                content += " " + line
                line = fd.readline()
            tsv_writer.writerow([counter, title ,content,"sport"])
            counter += 1

In [3]:
traindt = pd.read_csv("train_set.tsv",sep='\t')
traindt = traindt.replace('\n','', regex=True)

In [4]:
traindt

,Id,Title,Content,Category
0,0,Ad sales boost Time Warner profit,Quarterly profits at US media giant TimeWarn...,business
1,1,Dollar gains on Greenspan speech,The dollar has hit its highest level against...,business
2,2,Yukos unit buyer faces loan claim,The owners of embattled Russian oil giant Yu...,business
3,3,High fuel prices hit BA's profits,British Airways has blamed high fuel prices ...,business
4,4,Pernod takeover talk lifts Domecq,Shares in UK drinks and food firm Allied Dom...,business
...,...,...,...,...
2220,2220,Big guns ease through in San Jose,Top-seeded Americans Andy Roddick and Andre ...,sport
2221,2221,Almagro continues Spanish surge,Unseeded Nicolas Almagro became the fifth Sp...,sport
2222,2222,Melzer shocks Agassi in San Jose,Second seed Andre Agassi suffered a comprehe...,sport
2223,2223,Mirza makes Indian tennis history,Teenager Sania Mirza completed a superb week...,sport
2224,2224,Roddick to face Saulnier in final,Andy Roddick will play Cyril Saulnier in the...,sport